@using Application.DTOs.Request.Management;
@model CreateCategoryRequest;

@{
    ViewData["Title"] = "CreateCategory";
}

<div class="navbar-container">
</div>
<div class="main-container">
    <section class="space-sm">
        <div class="container">
            <div class="row mb-5">
                <!--end of col-->
            </div>
            <!--end of row-->
            <div class="row flex-md-row card card-md">
                <div class="card-body bg-secondary">
                    <div class="text-center mb-5">
                        <h1 class="h2 mb-2">Create your own running club</h1>
                        <span>Bring together runners in your community</span>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-5">
                            <form method="post" asp-action="CreateCategory" enctype="multipart/form-data">
                                <input type="hidden" id="UserId" name="UserId" asp-for="UserId" />
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input asp-for="CategoryName" class="form-control form-control-lg" placeholder="Name" />
                                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                                    </div>
                                </div>
                               @*  <div class="form-row form-group">
                                    <div class="col">
                                        <input asp-for="Description" class="form-control form-control-lg" placeholder="Description" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div> *@

                                <div class="form-row form-group">
                                    <div class="col">
                                        <button class="btn btn-block btn-success btn-lg" type="submit">Create Category</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
</div>

